
        .img1{
            position: absolute;
            left: 35px;
            width: 1500px;
            height: 429px;
            top: 67px;
        }
        
        .text{
            position: absolute;
            width: 307px;
            height: 57px;
            left: 595px;
            top: 475px;
            font-family: Abhaya Libre;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            color: #FFFFFF;
        }
        
        .cat_name#first{
            width: 206px;
            height: 43px;
            left: 304px;
            top: 750px;
            position: absolute;
            font-family: Abhaya Libre;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 33px;
            text-align: center;
            color: #FFFFFF;
        
        }
        .cat_name#second{
            position: absolute;
            font-family: Abhaya Libre;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 33px;
            text-align: center;
            color: #FFFFFF;
            width: 206px;
            height: 43px;
            left: 519px;
            top: 750px;
        }
        .cat_name#third{
            position: absolute;
            font-family: Abhaya Libre;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 33px;
            text-align: center;
            color: #FFFFFF;
            width: 206px;
            height: 43px;
            left: 754px;
            top: 750px;
        }
        .cat_name#fourth{
            position: absolute;
            font-family: Abhaya Libre;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 33px;
            text-align: center;
            color: #FFFFFF;
            width: 206px;
            height: 43px;
            left: 985px;
            top: 750px;
        }
        .vector{
            position: absolute;
            width: 261.11px;
            height: 379px;
            left: 1000px;
            top: 115px;
        }
        .textframe1{
            position: absolute;
            width: 448.18px;
            height: 92px;
            left: 360.52px;
            top: 78px;
            font-family: Phetsarath;
            font-style: normal;
            font-weight: bold;
            font-size: 72px;
            line-height: 105px;
            text-align: center;
            letter-spacing: 0.045em;
            color: #E5E5E5;
        }
        .textframe2{
            position: absolute;
            width: 719px;
            height: 86px;
            left: 247px;
            top: 200px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 64px;
            line-height: 75px;
            text-align: center;
            color: #FFECEC;
        }
        .art{
            position: absolute;
            width: 146px;
            height: 534.89px;
            left: 35.89px;
            top: 350px;
        }
        .modelpic{
            position: absolute;
            width: 307.88px;
            height: 429px;
            left: 1000px;
            top: 68px;
        }
        .rectangle11{
            position: absolute;
            width: 408px;
            height: 190px;
            left: 97.5px;
            top: 905.5px;
            border: 5px solid #FFFFFF;
            box-sizing: border-box;
            filter: blur(0.758333px);
         }
         .rectangle12{
            position: absolute;
            width: 408px;
            height: 190px;
            left: 525px;
            top: 905.5px;
            border: 5px solid #FFFFFF;
            box-sizing: border-box;
            filter: blur(0.758333px);
         }
         .rectangle13{
            position: absolute;
            width: 408px;
            height: 190px;
            left: 950px;
            top: 905.5px;
            border: 5px solid #FFFFFF;
            box-sizing: border-box;
            filter: blur(0.758333px);
         }
         .rectangle21{
            position: absolute;
            width: 400px;
            height: 181px;
            left: 101.5px;
            top: 909.5px;
            border: 4.55px solid #FB37FF;
            box-sizing: border-box;
            filter: blur(1.1375px);
        }
        .rectangle22{
            position: absolute;
            width: 400px;
            height: 181px;
            left: 528px;
            top: 909.5px;
            border: 4.55px solid #FB37FF;
            box-sizing: border-box;
            filter: blur(1.1375px);
        }
        .rectangle23{
            position: absolute;
            width: 400px;
            height: 181px;
            left: 955px;
            top: 909.5px;
            border: 4.55px solid #FB37FF;
            box-sizing: border-box;
            filter: blur(1.1375px);
        }
        .rectangle31{
            position: absolute;
            width: 400px;
            height: 181px;
            left: 101.5px;
            top: 909.5px;
            mix-blend-mode: hard-light;
            border: 7.39375px solid rgba(251, 55, 255, 0.2);
            box-sizing: border-box;
            box-shadow: inset -0.739375px 1.47875px 0.739375px rgba(255, 255, 255, 0.5);
            filter: drop-shadow(0px 11.375px 14.7875px #990099) drop-shadow(0px 7.39375px 5.6875px rgba(77, 0, 66, 0.7));
        }
        .rectangle32{
            position: absolute;
            width: 400px;
            height: 181px;
            left: 530.5px;
            top: 909.5px;
            mix-blend-mode: hard-light;
            border: 7.39375px solid rgba(251, 55, 255, 0.2);
            box-sizing: border-box;
            box-shadow: inset -0.739375px 1.47875px 0.739375px rgba(255, 255, 255, 0.5);
            filter: drop-shadow(0px 11.375px 14.7875px #990099) drop-shadow(0px 7.39375px 5.6875px rgba(77, 0, 66, 0.7));
        }
        .rectangle33{
            position: absolute;
            width: 400px;
            height: 181px;
            left: 957.5px;
            top: 909.5px;
            mix-blend-mode: hard-light;
            border: 7.39375px solid rgba(251, 55, 255, 0.2);
            box-sizing: border-box;
            box-shadow: inset -0.739375px 1.47875px 0.739375px rgba(255, 255, 255, 0.5);
            filter: drop-shadow(0px 11.375px 14.7875px #990099) drop-shadow(0px 7.39375px 5.6875px rgba(77, 0, 66, 0.7));
        }
        .rectangle41{
            position: absolute;
            width: 400px;
            height: 181px;
            left: 101.5px;
            top: 909.5px;
            mix-blend-mode: hard-light;
            border: 9.66875px solid #FF26C2;
            box-sizing: border-box;
            filter: blur(11.375px);
        }
        
        .rectangle42{
            position: absolute;
            width: 400px;
            height: 181px;
            left: 530.5px;
            top: 909.5px;
            mix-blend-mode: hard-light;
            border: 9.66875px solid #FF26C2;
            box-sizing: border-box;
            filter: blur(11.375px);
        }
        .rectangle43{
            position: absolute;
            width: 400px;
            height: 181px;
            left: 957.5px;
            top: 909.5px;
            mix-blend-mode: hard-light;
            border: 9.66875px solid #FF26C2;
            box-sizing: border-box;
            filter: blur(11.375px);
        }
        .rectangle51{
            position: absolute;
            width: 400px;
            height: 181px;
            left: 101.5px;
            top: 909.5px;
            mix-blend-mode: hard-light;
            border: 7.39375px solid #F32E7C;
            box-sizing: border-box;
            filter: blur(34.125px);
        }
        .rectangle52{
            position: absolute;
            width: 400px;
            height: 181px;
            left: 530.5px;
            top: 909.5px;
            mix-blend-mode: hard-light;
            border: 7.39375px solid #F32E7C;
            box-sizing: border-box;
            filter: blur(34.125px);
        }
        .rectangle53{
            position: absolute;
            width: 400px;
            height: 181px;
            left: 957.5px;
            top: 909.5px;
            mix-blend-mode: hard-light;
            border: 7.39375px solid #F32E7C;
            box-sizing: border-box;
            filter: blur(34.125px);
        }
        .ellipse11{
            position: absolute;
            width: 462px;
            height: 193.2px;
            left: 60px;
            top: 893.4px;
            background: rgba(255, 55, 128, 0.2);
            mix-blend-mode: hard-light;
            filter: blur(34.125px);
        }
        .ellipse12{
            position: absolute;
            width: 462px;
            height: 193.2px;
            left: 525px;
            top: 893.4px;
            background: rgba(255, 55, 128, 0.2);
            mix-blend-mode: hard-light;
            filter: blur(34.125px);
        }
        .ellipse13{
            position: absolute;
            width: 462px;
            height: 193.2px;
            left: 950px;
            top: 893.4px;
            background: rgba(255, 55, 128, 0.2);
            mix-blend-mode: hard-light;
            filter: blur(34.125px);
        }
        .rectangle61{
            position: absolute;
            width: 400px;
            height: 181px;
            left: 102px;
            top: 908px;
            background: rgba(238, 81, 158, 0.51);
        }
        .rectangle62{
            position: absolute;
            width: 400px;
            height: 181px;
            left: 525px;
            top: 908px;
            background: rgba(238, 81, 158, 0.51);
        }
        .rectangle63{
            position: absolute;
            width: 400px;
            height: 181px;
            left: 950px;
            top: 908px;
            background: rgba(238, 81, 158, 0.51);
        }
        .splash1{
            position: absolute;
            width: 25px;
            height: 400px;
            left: 108px;
            top: 918px;
        }
        .splash2{
            position: absolute;
            width: 25px;
            height: 400px;
            left: 535px;
            top: 918px;
        }
        .splash3{
            position: absolute;
            width: 25px;
            height: 400px;
            left: 965px;
            top: 918px;
        }
        .collectionheading{
            position: absolute;
            width: 226px;
            height: 31px;
            left: 626px;
            top: 1135px;
            font-family: Abhaya Libre;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            color: #FFFFFF;
        }
        .txt1{
            position: absolute;
            width: 221px;
            height: 49px;
            left: 184px;
            top: 900px;
            font-family: Rokkitt;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 55px;
            text-align: center;
            text-transform: capitalize;
            color: #FFFFFF;
        }
        .txt2{
            position: absolute;
            width: 221px;
            height: 49px;
            left: 610px;
            top: 870px;
            font-family: Rokkitt;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 55px;
            text-align: center;
            text-transform: capitalize;
            color: #FFFFFF;
        }
        .txt3{
            position: absolute;
            width: 221px;
            height: 49px;
            left: 1030px;
            top: 880px;
            font-family: Rokkitt;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 55px;
            text-align: center;
            text-transform: capitalize;
            color: #FFFFFF;
        }
        
        .txt11{
            position: absolute;
            width: 359px;
            height: 34px;
            left: 109px;
            top: 985px;
            font-family: Coda;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 51px;
            text-align: center;
            text-transform: capitalize;
            color: #FFFFFF;
        }
        .txt12{
            position: absolute;
            width: 359px;
            height: 34px;
            left: 553px;
            top: 985px;
            font-family: Coda;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 51px;
            text-align: center;
            text-transform: capitalize;
            color: #FFFFFF;
        }
        .txt13{
            position: absolute;
            width: 359px;
            height: 34px;
            left: 975px;
            top: 985px;
            font-family: Coda;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 51px;
            text-align: center;
            text-transform: capitalize;
            color: #FFFFFF;
        }
        .bgrectangle{
            position: absolute;
            width: 1550px;
            height: 771px;
            left: 0px;
            top: 1223px;
        
        background: #292D33;
        }
        .collectionrectangle1{
            position: absolute;
            width: 698px;
            height: 469px;
            left: 20px;
            top: 1242px;
        
        background: #DA1D6F;
        }
        .collectionrectangle2{
            position: absolute;
            width: 698px;
            height: 465px;
            left: 720px;
            top: 1506px;
            background: #DA1D6F;
        }
        .collection1img{
            position: absolute;
            width: 485px;
            height: 508px;
            left: 233px;
            top: 1223px;
        }
        .collection2img{
            position: absolute;
            width: 477px;
            height: 455px;
            left: 942px;
            top: 1481px;
        }
        .collection1name{
            position: absolute;
            width: 523px;
            height: 181px;
            left: -193px;
            top: 1375px;
            font-family: Impact;
            font-style: normal;
            font-weight: normal;
            font-size: 55px;
            line-height: 98px;
            text-align: center;
            letter-spacing: 0.295em;
            text-transform: uppercase;
            color: #FFFFFF;
            transform: rotate(-90deg);
        }
        .collection2name{
            position: absolute;
            width: 523px;
            height: 181px;
            left: 515px;
            top: 1645px;
            font-family: Impact;
            font-style: normal;
            font-weight: normal;
            font-size: 55px;
            line-height: 97px;
            text-align: center;
            letter-spacing: 0.295em;
            text-transform: uppercase;
            color: #FFFFFF;
            transform: rotate(-90deg);
        }
        .casuals{
            position: absolute;
            width: 240px;
            height: 678px;
            left: 0px;
            top: 1700px;
        }
        .cottons{
            position: absolute;
            width : 240px;
            height: 678px;
            left: 720.03px;
            top: 1225px;
        }
        .greyshadow1{
            position: absolute;
            width: 240px;
            height: 678px;
            left: 10px;
            top: 1718.5px;
        }
        .greyshadow2{
            position: absolute;
            width: 200px;
            height: 678px;
            left: 730px;
            top: 1243.5px;
        }
        .casualimg1{
            position: absolute;
            width: 256px;
            height: 246px;
            left: 100px;
            top: 1715px;
        }
        .casualimg2{
            position: absolute;
            width: 206px;
            height: 221px;
            left: 274px;
            top: 1740px;
        }
        .casualimg3{
            position: absolute;
            width: 268px;
            height: 228px;
            left: 394px;
            top: 1733px;
         }
         .cottonimg1{
            position: absolute;
            width: 253.92px;
            height: 290px;
            left: 782.65px;
            top: 1220px;
        }
        .cottonimg2{
            position: absolute;
            width: 158.32px;
            height: 233.81px;
            left: 991.34px;
            top: 1251.11px;
        }
        .cottonimg3{
            position: absolute;
            width: 139.81px;
            height: 230.8px;
            left: 1149.66px;
            top: 1251.11px;
            
         }
         .round1{
            border-radius: 50%;
            position: absolute;
            width: 183px;
            height: 183px;
            left: 312px;
            top: 585px;
            background: #DA1D6F;
        }
        .roundimg1{
            position: absolute;
            border-radius: 50%;
            overflow: hidden;
            left: 328px;
            top: 600px;
        }
        .round2{
            border-radius: 50%;
            position: absolute;
            width: 183px;
            height: 183px;
            left: 535px;
            top: 585px;
            background: #DA1D6F;
        }
        .roundimg2{
            position: absolute;
            border-radius: 50%;
            overflow: hidden;
            left: 551px;
            top: 600px;
        
        }
        .round3{
            border-radius: 50%;
            position: absolute;
            width: 183px;
            height: 183px;
            left: 766px;
            top: 585px;
            background: #DA1D6F;
        }
        .roundimg3{
            position: absolute;
            border-radius: 50%;
            overflow: hidden;
            left: 782px;
            top: 600px;
        
        }
        .round4{
            border-radius: 50%;
            position: absolute;
            width: 183px;
            height: 183px;
            left: 997px;
            top: 585px;
            background: #DA1D6F;
        }
        .roundimg4{
            position: absolute;
            border-radius: 50%;
            overflow: hidden;
            left: 1013px;
            top: 600px;
        
        }
        .cottonletters{
            position: absolute;
            width: 407.1px;
            height: 63.22px;
            left: 848.25px;
            top: 1350.58px;
            font-family: Alata;
            font-style: normal;
            font-weight: normal;
            font-size: 55px;
            line-height: 76px;
            text-align: center;
            letter-spacing: 0.105em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        .casualletters{
            position: absolute;
            width: 396px;
            height: 63px;
            left: 151px;
            top: 1830px;
            font-family: Alata;
            font-style: normal;
            font-weight: normal;
            font-size: 55px;
            line-height: 76px;
            text-align: center;
            letter-spacing: 0.105em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        .newcollection{
            position: absolute;
            width: 290px;
            height: 32px;
            left: 575px;
            top: 2075px;
            font-family: Abhaya Libre;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            color: #FFFFFF;
        }         
        figure{
            position: absolute;
            width: 263px;
            height: 335px;
        } 
        figcaption {
            width: 184px;
            height: 56px;
            font-family: Rokkitt;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 27px;
            text-align: center;
            color: #FFFFFF;
          }
          #img1{
            position: absolute;
            left: 102px;
            top: 1985px;
          }
          #price11{
            position: absolute;
            left: 139px;
            top: 2335px;
          }
          #price12{
            position: absolute;
            left: 139px;
            top: 2370px;
          }
          #img2{
            position: absolute;
            left: 426px;
            top: 1985px;
          }
          #price21{
            position: absolute;
            left: 464px;
            top: 2335px
          }
          #price22{
            position: absolute;
            left: 464px;
            top: 2370px;
          }
          #img3{
            position: absolute;
            left: 740px;
            top: 1985px;
          }
          #price31{
            position: absolute;
            left: 789px;
            top: 2335px
          }
          #price32{
            position: absolute;
            left: 789px;
            top: 2370px;
          }      
          #img4{
            position: absolute;
            left: 1075px;
            top: 1985px;
          }
          #price41{
            position: absolute;
            left: 1114px;
            top: 2335px;
          }
          #price42{
            position: absolute;
            left: 1114px;
            top: 2370px;
          }      
          #img5{
            position: absolute;
            left: 91px;
            top: 2450px;
          }
          #price51{
            position: absolute;
            left: 125px;
            top: 2800px;
          }
          #price52{
            position: absolute;
            left: 125px;
            top: 2835px;
          }  
        #img6{
            position: absolute;
            left: 426px;
            top: 2450px;            
          }
          #price61{
            position: absolute;
            left: 450px;
            top: 2800px;
          }
          #price62{
            position: absolute;
            left: 450px;
            top: 2835px;
          }      
          #img7{
            position: absolute;
            left: 751px;
            top: 2450px;
          }
          #price71{
            position: absolute;
            left: 775px;
            top: 2800px;
          }
          #price72{
            position: absolute;
            left: 775px;
            top: 2835px;
          }      
          #img8{
            position: absolute;
            left: 1075px;
            top: 2450px;            
          }
          #price81{
            position: absolute;
            left: 1100px;
            top: 2800px;
          }
          #price82{
            position: absolute;
            left: 1100px;
            top: 2835px;
          }
          .aboutus{
            position: absolute;
            width: 290px;
            height: 32px;
            left: 575px;
            top: 3150px;
            font-family: Abhaya Libre;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            color: #FFFFFF;
          }
          .aboutusrect{
            position: absolute;
            width: 697px;
            height: 607px;
            left: 79px;
            top: 3255px;
            background: linear-gradient(131.03deg, #DE1C7B 22.84%, #EE519E 70.08%);
          }
          .aboutuspara{
            position: absolute;
            width: 598px;
            height: 529px;
            left: 130px;
            top: 3325px;
            font-family: Coda;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 61px;
            text-align: center;
            text-transform: capitalize;
            color: #FFFFFF;
          }
          .aboutusrect1{
            position: absolute;
            width: 556px;
            height: 617px;
            left: 730px;
            top: 3255px;
            background: rgba(14, 12, 13, 0.51);
          }
          .aboutuspic{
            position: absolute;
            width: 584px;
            height: 607px;
            left: 776px;
            top: 3255px;
          }
          .subscribe{
            position: absolute;
            width: 1357px;
            height: 63px;
            left: 58px;
            top: 3968px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 168.99%;
            text-align: center;
            text-transform: capitalize;
            color: #FFFFFF;   
          }
          .subscribebtnrect{
            position: absolute;
            width: 261px;
            height: 71px;
            left: 990px;
            top: 4155px;
            background: #EE519E;
            border-radius: 8px;
          }
          .subscribebtn{
            position: absolute;
            width: 194px;
            height: 56px;
            left: 1027px;
            top: 4123px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 58px;
            text-align: center;
            text-transform: capitalize;
            color: #FFFFFF;
          }
          .mailidinput1{
            position: absolute;
            width: 950px;
            height: 71px;
            left: 147px;
            top: 4155px;
            background: rgba(199, 207, 214, 0.08);
            border-radius: 8px;
          }
          .mailidinput2{
            position: absolute;
            left: 147px;
            top: 4155px;
            height:71px;
            width:950px;
            background: rgba(199, 207, 214, 0.1);
            box-shadow: inset 32.1667px -32.1667px 32.1667px rgba(151, 157, 163, 0.1), inset -32.1667px 32.1667px 32.1667px rgba(255, 255, 255, 0.1);
            border-radius: 8px;
          }
        